@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

/*specifications*/
body {
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
	font-size: 17px;
	color: #270409;
}

* {
	box-sizing: border-box;
}

ul, li {
	margin: 0;
	padding: 0;
	display: block;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
}

a {
	text-decoration: none;
}

.container {
	width: 1296px;
	margin: 0 auto;
}

input:focus, button:focus { 
	outline: none 
}

button {
	padding: 0;
	border: none;
	cursor: pointer;
}

.btn {
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.14em;
    border-radius: 40px;
    background: #FC7749;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 276px;
    height: 72px;
    transition: box-shadow 0.5s ease, background 0.5s ease, transform 0.5s ease;
}

.btn:hover {
    background: #c56849;
    transform: translate(0px, -5px);
    box-shadow: 0px 11px 23px rgba(252, 119, 73, 0.22);
    transition: box-shadow 0.5s ease, background 0.5s ease, transform 0.5s ease;
}

.h2-title {
    font-size: 42px;
    font-weight: 700;
}

.title__line {
    display: block;
    width: 42px;
    height: 3px;
    background: #FC7749;
    margin: 23px 0 30px;
}

/* custom cursor */
.cursor2 {
    width: 28px;
    height: 28px;
    border-radius: 100%;
    background-color: rgb(255, 255, 255);
    mix-blend-mode: difference;
    position: fixed;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: width .3s, height .3s, opacity .3s;
    z-index: 999;
  }
  
  .hover {
    background-color: rgb(255, 255, 255);
    mix-blend-mode: difference;
  }
  
/* custom cursor */

/* header */
.header {
    background:url('../img/1-head-bg.jpg') no-repeat top center/contain, #1b1b1b;
    color: #fff;
    overflow: hidden;
    position: relative;
    padding-bottom: 20px;
}

.head-nav__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 34px 0;
    position: relative;
    z-index: 5;
}

.head-logo {
    width: 163px;
    height: 23px;
}

.head-logo__item {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.head-nav__inner nav ul {
    display: flex;

}

.head-nav__inner nav ul li:not(:first-of-type) {
    margin-left: 75px;
}

.head-nav__inner nav ul li a {
    color: #fff;
    transition: color .5s ease;
}

.head-nav__inner nav ul li a:hover {
    color: #FC7749;

    transition: color .5s ease;
}

.head-btn {
    width: 210px;
    height: 40px;
    background: none;
    border: 2px solid #FC7749;
}

.offer {
    display: flex;
    margin-top: 77px;
    position: relative;
    margin-bottom: 170px;
}

.offer__svg {
    position: absolute;
    width: 316px;
    height: 84px;
    top: -9px;
    right: 92px;
    opacity: .13;
}

.offer__icon-img {
    background: #FC7749;
    width: 81px;
    height: 81px;
    border-radius: 23px;
    box-shadow: 0px 7px 7px rgba(252, 119, 73, 0.25);
    transform: rotate(17.87deg);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 294px;
    left: 78px;
    z-index: 4;
}

.offer__icon-img:nth-child(2) {
    bottom: 294px;
    top: auto;
    right: -2px;
    left: auto;
    background: #7958D6;
    transform: rotate(353deg);
    box-shadow: 0px 7px 7px rgba(121, 88, 214, 0.25);
}

.offer__img-absolute {
    position: absolute;
    top: -77px;
    left: -62px;
    z-index: 8;
}

.offer__img-relative {
    max-width: 731px;
    max-height: 723px;
    width: 100%;
    height: 100%;
}

.offer__img-item {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.offer__circle-wrapper {
    background: url("../img/Ellipse-header.png") no-repeat center center/contain;
    width: 118px;
    height: 118px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 59px;
    top: 97px;
    z-index: 4;
}

.offer__main-wrapper {
    width: 535px;
    color: #fff;
    margin-left: auto;
    position: relative;
    z-index: 5;
}

.offer__title {
    font-size: 55px;
    font-weight: 700;
    position: relative;
    z-index: 22;
}

.offer__desc {
    font-size: 24px;
    color: #DCDCDC;
    width: 86%;
    line-height: 1.6em;
    margin-bottom: 56px;
}

/* run line */
.run-line {
    height: 250px;
    position: relative;
}

.run-line__item {
    position: absolute;
    left: -9%;
    right: 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 120%;
    height: 84px;
    background: #7958D6;
    color: #fff;
    z-index: 4;
}

.run-line__item-inner_two,
.run-line__item-inner_one {
    display: flex;
}

.run-line__item:last-of-type {
    transform: rotate(356deg);
    background: #8E6BEE;
    z-index: 2;
}

.run-line__item-inner {
    white-space: nowrap;
    margin: 0 auto;
    display: flex;
    margin-left: -200px;
}

.run-line__txt {
    font-size: 18px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    font-weight: 400;
}

.run-line__txt:not(:last-of-type) {
    margin-right: 110px;
}

.header__circle {
    border-radius: 50%;
    position: absolute;
    background: #FC7749;
    opacity: 0.16;
    filter: blur(67px);
    width: 523px;
    height: 523px;
    top: 0;
    z-index: 1;
    left: -100px;
}

.header__circle_purple {
    background: #7958D6;
    left: 23vw;
    opacity: 0.18;
    width: 570px;
    height: 570px;
    top: 100px;
}

.header__circle_orange {
    right: -219px;
    top: -396px;
    opacity: 0.12;
    left: auto;
}

/* 2 provide */

.list {
    background: #212121;
}

.provide-list {
    display: flex;
    justify-content: space-between;
    margin-top: -20px;
    position: relative;
    z-index: 4;
}

.provide-item {
    width: 19%;
    background: #fff;
    border-radius: 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0 58px;
    color: #270409;
}

.provide-item__svg {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    box-shadow: 0px 8px 16px rgb(244 67 54 / 14%);
    margin-bottom: 19px;
}



/* 3 about */
.about {
    background:url('../img/2-about-bg.jpg') no-repeat bottom center/cover, #1b1b1b;
    margin-top: -1px;
    padding: 120px 0 145px;
    overflow: hidden;
}

.about-wrapper {
    display: flex;
    align-items: center;
    position: relative;
}

.about-img {
    width: 600px;
    height: 635px;
    position: relative;
    margin-left: 44px;
    z-index: 5;
}

.about-img__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.about-img__digit {
    position: absolute;
    width: 160px;
    height: 136px;
    background: #7958D6;
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 22px;
    margin-bottom: 5px;
    padding: 20px 10px;
    box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.08);
}

.about-img__digit-item {
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 5px;
    font-weight: 900;
}

.about-img__digit-txt {
    text-align: center;
    opacity: .8;
}

.about-img__digit:nth-child(1){
    left: -42px;
    top: 80px;
}

.about-img__digit:nth-child(2) {
    background: #fff;
    color: #212121;
    bottom: 89px;
    left: -13px;
}

.about-img__digit:nth-child(3) {
    background: #fff;
    color: #212121;
    top: 113px;
    left: auto;
    right: -42px;
}

.about-img__digit:nth-child(4) {
    bottom: 113px;
    left: auto;
    right: -42px;
}

.about-img__digit-item_purp {
    color: #7958D6;
}

.about-txt {
    color: #fff;
    width: 526px;
    margin-left: auto;
    position: relative;
    z-index: 5;
}

.about-txt__title-wrapper {
    margin-bottom: 30px;
}

.about-txt__txt {
    line-height: 1.6em;
    font-weight: 300;
}

.about-txt__txt_big {
    font-size: 22px;
    margin-bottom: 30px;
}

.btn_about {
    margin-top: 60px;
}

.about-wrapper__circle {
    border-radius: 50%;
    position: absolute;
    background: #FC7749;
    opacity: 0.16;
    filter: blur(67px);
    width: 523px;
    height: 523px;
    top: 0;
    z-index: 1;
    left: -100px;
}

.about-wrapper__circle_purple {
    background: #7958D6;
    left: 17vw;
    top: 225px;
    opacity: .25;
}

/* 4 path */
.path {
    background: #F4F4F4;
    padding: 130px 0 154px;
    overflow: hidden;
}

.section-title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 26px;
}

.path-inner {
    display: flex;
    justify-content: space-between;
}

.path-item {
    width: 32%;
    height: 734px;
    background: #fff;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.09);
    border-radius: 32px;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    padding: 36px 40px;
}

.path-item__icon {
    width: 135px;
    height: 135px;
    border-radius: 50%;
    background: #F7F5FF;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.path-item__svg {
    width: 47%;
    height: 47%;
    object-fit: contain;
    display: block;
}

.path-item__name {
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    width: 92%;
    text-transform: capitalize;
    margin-bottom: 18px;
}

.path-item__desc {
    font-size: 18px;
    line-height: 1.5em;
    color: #565656;
    height: 190px;
}

.path-item__price-wrapper {
    display: flex;
    align-items: center;
    margin: 40px 0;
}

.path-item__icon-price {
    width: 26px;
    height: 26px;
    margin-right: 23px;
    object-fit: contain;

}

.path-item__price {
    display: flex;
    align-items: flex-end;
    font-size: 28px;
    font-weight: 700;

}

.path-item__price_lit {
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 1px;
}

.mobile-path-inner {
    display: none;
}

/* 5 rewievs */
/* slider */
.reviews {
    background: url('../img/3rev-bg.jpg') no-repeat center center/cover, #1b1b1b;
    padding: 62px 0 120px;
    overflow: hidden;
    position: relative;
}

.rewiev-slider {
    width: auto;
    cursor: move;
    position: relative;
    z-index: 5;
}

.reviews .slick-list {
    padding-left: 15% !important;
}

.reviews .slick-prev {
    left: 5%;
    z-index: 20;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background: url('../img/arrow-btn.svg') no-repeat center center/cover;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
}

.reviews .slick-prev:hover,
.reviews .slick-next:hover {
    opacity: .8;
    background: url('../img/arrow-btn.svg') no-repeat center center/cover;
}

.reviews .slick-prev:focus,
.reviews .slick-next:focus {
    background: url('../img/arrow-btn.svg') no-repeat center center/cover;
}

.reviews .slick-prev::before,
.reviews .slick-next::before {
    content:'';
    display: none;
}

.reviews .slick-next {
    right: 5%;
    z-index: 20;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background: url('../img/arrow-btn.svg') no-repeat center center/cover;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
    transform: scale(-1, 1);
    top: 42.5%;
}

.reviews .slick-dots {
    position: absolute;
    bottom: -55px;
    cursor: auto;
}

.reviews .slick-dots li button:before {
    color: #fff;
    opacity: .75;
    font-size: 9px;
}

.reviews .slick-dots li.slick-active button:before {
    opacity: .75;
    color: #E9735D;
}
/* slider */

.h2-title_reviews {
    color: #fff;
}

.rewiev-item {
    background: #fff;
    border-radius: 17px;
    display: flex !important;
    width: 1012px !important;
    height: 438px;
}

.rewiev-item:not(:last-of-type) {
    margin-right: 50px;
}

.rewiev-item__img {
    width: 590px;
    height: 100%;
    object-fit: cover;
    border-radius: 17px;
}

.rewiev-item__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.rewiev-item__rev {
    width: 310px;
}

.rewiev-item__name {
    display: flex;
    align-items: center;
}

.rewiev-item__ava {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 14px;
}

.rewiev-item__user-name {
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 700;
}

.rewiev-item__txt {
    line-height: 1.4em;
    margin-top: 24px;
}

.about-wrapper__circle_review {
    top: -50%;
}

.about-wrapper__circle_review-two {
    right: 0;
    left: auto;
    top: -30%;
    opacity: .15;
}

.about-wrapper__circle_review {
    top: 10px;
    bottom: auto;
    opacity: .15;
}

/* 6 accordion */

.accordion {
    margin-bottom: 200px;
}

.accordion-item__btn {
    background: none;
    font-size: 22px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: left;
    padding: 30px 10px 0;
    align-items: center;
}

.accordion-item__title {
    width: 90%;
}

.accordion-item:first-of-type {
    border-top: 2px solid #E9E2FF;
}

.accordion-item {
    border-bottom: 2px solid #E9E2FF;
}

.accordion-item__btn:after {
    content: '';
    background: url('../img/faq-plus.svg') no-repeat center center/contain;
    display: block;
    width: 34px;
    height: 34px;
    opacity: .4;
}

.active:after {
    content: '';
    background: url('../img/faq-minus.svg') no-repeat center center/contain;
    display: block;
    width: 34px;
    height: 34px;
    opacity: .4;
}

.accordion-item__answer {
    margin-bottom: 16px;
    margin-top: 16px;
    width: 80%;
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}


/* 7 contact */

.faq {
    padding: 80px 0 0px;
    overflow: hidden;
    z-index: 50;
}

.contact {
    background: url('../img/4form-bg.jpg')no-repeat top center/contain, #1b1b1b;
    position: relative;
    z-index: 5;
}

.run-bot-inner {
    position: absolute;
    top: 0px;
    width: 100%;
    top: -201px;
}

.contact .run-line {
    display: flex;
    align-items: flex-end;
}

.form-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 162px;
}

.form-img {
    position: relative;
    width: 804px;
    height: 764px;
    margin-left: -50px;
    z-index: 5;
}

.form-img__mac {
    object-fit: contain;
    width: 100%;
    height: auto;
}

.offer__icon-img_form:first-child {
    top: 336px;
    left: 32px;
}

.offer__icon-img_form:nth-child(2) {
    top: 135px;
    left: 441px;
}

.offer__circle-wrapper_form {
    bottom: 133px;
    right: 140px;
    top: auto;
    width: 150px;
    height: 150px;
}

.contact-form {
    width: 506px;
    height: 600px;
    background: #fff;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 72px 55px;
    position: relative;
    z-index: 6;
}

.contact-form__title {
    font-size: 36px;
    margin-bottom: 24px;
}

.contact-form__description {
    font-size: 18px;
    line-height: 1.6em;
    text-align: center;
    margin-bottom: 42px;
}

.contact-form__form {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.contact-form__input {
    border: none;
    font-size: 17px;
    border-bottom: 1px solid #B9B9B9;
    padding-bottom: 10px;
    font-family: 'Lato', sans-serif;
}

.contact-form__input:first-of-type {
    margin-bottom: 36px;
}

.btn_form {
    width: 100%;
    margin-top: 48px;
}

.about-wrapper__circle_contact-two {
    right: 0;
    left: auto;
}

/* 8footer */
.footer {
    background: #1b1b1b;
    border-top: 1px solid #393939;
    padding: 60px 0;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-wrapper__logo-item {
    width: 138px;
    height: 28px;
}

.footer-wrapper__copyright {
    color: #8A8A8A;
    font-size: 16px;
}

.footer-wrapper__mail-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.footer-wrapper__img-inner {
    width: 28px;
    height: 28px;
    background: #FFFFFF;
    border-radius: 5px;
    display: flex;
    align-items:center;
    justify-content: center;
    margin-right: 10px;
}

.footer-wrapper__mail {
    font-size: 15px;
    color: #fff;
}




@media (max-width: 1296px) {
    .container {
        width: 960px;
    }

    .head-nav ul li:not(:first-of-type) {
        margin-left: 42px;
    }

    .offer {
        margin-bottom: 130px;
    }

    .offer__img-relative {
        max-width: 598px;
        max-height: 641px;
    }

    .offer__icon-img:nth-child(2) {
        bottom: 218px;
        right: 23px;
    }

    .offer__circle-wrapper {
        width: 94px;
        height: 94px;
        right: 51px;
        top: 87px;
    }

    .offer__img-absolute {
        top: -60px;
        left: -147px;
    }

    .offer__main-wrapper {
        width: 464px;
    }

    .offer__title {
        font-size: 52px;
    }

    .offer__desc {
        margin-bottom: 36px;
    }

    .offer__svg {
        right: 19px;
    }

    /* 2 provide */
    .provide-item__svg {
        width: 99px;
        height: 99px;
    }

    .provide-item {
        border-radius: 20px;
        padding: 30px 0 40px;
        color: #270409;
    }


    /* 3 about */
    .about {
        padding: 56px 0 90px;
    }

    .about-img {
        width: 447px;
        height: 502px;
        position: relative;
        margin-left: 44px;
        z-index: 5;
    }

    .about-img__digit {
        position: absolute;
        width: 142px;
        height: 122px;
        padding: 14px 10px;
    }

    .about-img__digit-item {
        font-size: 26px;
    }

    .about-img__digit-txt {
        font-size: 15px;
    }

    .about-txt__title-wrapper {
        margin-bottom: 22px;
    }

    .h2-title {
        font-size: 36px;
    }

    .about-txt__title-wrapper .title__line {
        margin: 16px 0 0px;
    }

    .about-txt {
        width: 386px;
    }

    .about-txt__txt_big {
        font-size: 19px;
        margin-bottom: 12px;
    }

    .btn_about {
        margin-top: 30px;
    }

    .about-wrapper__circle {
        filter: blur(67px);
        width: 406px;
        height: 406px;
        top: 30px;
        left: -73px;
    }

    .about-wrapper__circle_purple {
        left: 15vw;
        top: 149px;
    }

    /* 4 path */
    .path-item {
        height: 682px;
        padding: 36px 26px;
    }

    .path-item__icon {
        width: 110px;
        height: 110px;
        margin-bottom: 23px;
    }

    .path-item__name {
        font-size: 22px;
        margin-bottom: 10px;
    }

    .path-item__desc {
        font-size: 17px;
        height: 245px;
    }

    .path-item__price-wrapper {
        margin: 26px 0;
    }

    .btn_path {
        width: 100%;
    }

    /* 5 reviews */
    .rewiev-item {
        width: 874px !important;
        height: 410px;
    }

    .rewiev-item__img {
        width: 530px;
    }

    /* slider */
    .reviews {
        padding: 86px 0 120px;
    }

    .reviews .slick-list {
        padding-left: 0% !important;
        padding-left: 50px !important;
    }

    .rewiev-item__img {
        width: 492px;
    }

    .reviews .slick-next {
        right: 1%;
    }

    .reviews .slick-prev {
        left: 1%;
    }
    /* 6form */
    .form-img {
        width: 576px;
        height: 550px;
    }

    .offer__circle-wrapper_form {
        right: 107px;
        top: 343px;
    }

    .contact-form {
        padding: 42px 23px;
        height: 443px;
        width: 416px;
    }
        
    .contact-form__title {
        margin-bottom: 10px;
        font-size: 30px;
    }

    .contact-form__description {
        font-size: 17px;
        line-height: 1.4em;
        margin-bottom: 31px;
    }

    .contact-form__input:first-of-type {
        margin-bottom: 22px;
    }

    .btn_form {
        margin-top: 35px;
    }
}


@media (max-width: 991px) {
	.container {
        width: 720px;
    }

    .head-logo {
        width: 141px;
        height: 22px;
    }

    .head-nav ul li:not(:first-of-type) {
        margin-left: 28px;
    }

    .head-btn {
        width: 172px;
    }
    
    .offer {
        margin-top: 44px;
        margin-bottom: 108px;
    }

    .offer__img-relative {
        max-width: 500px;
        max-height: 519px;
    }

    .offer__img-item {
        transform: rotate(11deg);
    }

    .offer__icon-img {
        width: 70px;
        height: 70px;
    }

    .offer__circle-wrapper {
        width: 87px;
        height: 87px;
        right: 30px;
        top: 87px;
    }

    .offer__icon-img:nth-child(2) {
        bottom: 138px;
        right: 23px;
    }

    .offer__main-wrapper {
        width: 348px;
    }

    .offer__title {
        font-size: 38px;
    }

    .offer__svg {
        top: -27px;
        width: 237px;
        height: 84px;
    }

    .offer__desc {
        font-size: 18px;
        color: #DCDCDC;
        width: 100%;
    }

    .run-line__item {
        height: 70px;
    }

    .run-line__txt {
        font-size: 16px;
    }

    .run-line__txt:not(:last-of-type) {
        margin-right: 88px;
    }

    /* 2 provide */
    .provide-list {
        margin-top: -95px;
    }

    .provide-item {
        width: 19%;
        padding: 20px 8px 26px;
        text-align: center;
    }

    .provide-item__svg {
        width: 90px;
        height: 90px;
        margin-bottom: 14px;
    }


    /* 3 about */
    .about {
        padding: 74px 0 143px;
    }

    .about-wrapper {
        flex-direction: column;
    }

    .about-img {
        margin-left: 0px;
    }

    .about-txt {
        width: 88%;
        margin: 0 auto;
        margin-top: 32px;
    }

    .about-wrapper__circle {
        left: 0;
    }

    .about-wrapper__circle_purple {
        left: auto;
        right: 0;
    }

    /* 4 path */
    .path {
        padding: 93px 0 154px;
    }

    .path-item {
        height: 652px;
        padding: 26px 20px 0 20px;
    }

    .path-item__name {
        font-size: 18px;
    }

    .path-item__desc {
        font-size: 16px;
        line-height: 1.3em;
    }

    /* 5 rewievs */
    .rewiev-item {
        width: 650px !important;
        height: 328px;
    }

    .rewiev-item__img {
        width: 412px;
    }

    .rewiev-item__rev {
        width: 190px;
    }

    /* 7form */
    .contact {
        padding-bottom: 135px;
    }

    .form-wrapper {
        flex-direction: column;
    }

    .form-img {
        width: 100%;
        margin-left: 0;
    }

    .contact-form {
        width: 86%;
        margin: 0 auto;
        height: auto;
    }

    .contact-form__description {
        margin-bottom: 52px;
    }

    .offer__circle-wrapper_form {
        right: 107px;
        top: 343px;
    }

    /* footer */
    .footer-wrapper {
        flex-wrap: wrap;
    }

    .footer-wrapper__mail-wrapper {
        order: 2;
    }

    .footer-wrapper__copyright {
        width: 100%;
        order: 3;
        text-align: center;
        margin-top: 30px;
    }
}

@media (max-width: 767px) {
	.container {
        width: 540px;
    }

    .head-nav__inner {
        padding: 26px 0;
    }

    .head-nav ul {
        display: none;
    }

    .offer {
        margin-top: 44px;
        margin-bottom: 65px;
    }

    .offer__main-wrapper {
        width: 100%;
    }

    .offer__title {
        font-size: 6vw;
        text-align: center;
    }

    .title__line {
        margin: 0 auto;
        margin-top: 15px;
    }

    .offer__desc {
        font-size: 3.5vw;
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }

    .offer__img-relative {
        max-width: 475px;
        max-height: 501px;
    }

    .offer__img-absolute {
        opacity: .1;
        z-index: 2;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .offer__svg {
        display: none;
    }

    .btn_header {
        margin: 0 auto;
    }

    .provide-list {
        flex-wrap: wrap;
    }

    .provide-item {
        width: 32%;
    }

    .provide-item:nth-last-child(-n+2) {
        width: 49%;
        margin-top: 10px;
    }

    /* 3 about */
    .about-txt {
        width: 100%;
    }

    /* 4 path */
    .path-inner {
        display: none;
    }

    .mobile-path-inner {
        display: flex;
        padding-bottom: 20px;
        margin-top: 41px;
    }

    .slick-list {
        padding-bottom: 25px !important;
    }

    .path-item__name {
        font-size: 28px;
    }

    .path-item {
        width: 400px;
        padding: 26px 44px 0 44px;
        height: 618px;
    }

    .path-item:not(:last-of-type) {
        margin-right: 30px;
    }

    .path-item__desc {
        font-size: 17px;
        height: 140px;
    }

    .slick-dots li button:before {
        font-size: 11px;
    }

    .header__circle {
        display: none;
    }

    .about-wrapper__circle {
        display: none;
    }

    /* 5 rewievs */
    .rewiev-item__img {
        width: 322px;
    }

    .rewiev-item__rev {
        font-size: 16px;
    }

    .rewiev-item__ava {
        width: 70px;
        height: 70px;
    }

    .rewiev-item {
        width: 550px !important;
        height: 300px;
    }

    .reviews .slick-prev,
    .reviews .slick-next {
        opacity: .5;
        width: 48px;
        height: 48px;
    }

    /* 5 accordion */
    .accordion {
        margin-top: 50px;
    }

    /* 6form */
    .form-img {
        width: 576px;
        height: 372px;
    }

}

@media (max-width: 575px) {
	.container {
        width: 100%;
        padding: 0 15px;
    }

    .btn {
        width: 100%;
    }

    .head-nav__inner {
        padding: 40px 0 20px;
    }

    .head-btn {
        width: 144px;
    }

    .offer {
        margin-top: 92px;
        margin-bottom: 106px;
    }

    .offer__icon-img:nth-child(2) {
        bottom: 64px;
    }

    .offer__img-absolute {
        top: -84px;
    }

    .offer__title {
        font-size: 10vw;
    }

    .offer__desc {
        font-size: 5.5vw;
        margin-top: 38px;
    }

    .run-line {
        height: 164px;
    }

    .run-line__item {
        height: 78px;
    }

    .run-line__txt:not(:last-of-type) {
        margin-right: 62px;
    }

    .header__circle {
        width: 248px;
        height: 239px;
        top: -104px;
        z-index: 1;
        left: 0px;
        opacity: .08;
    }

    .header__circle_orange {
        right: 1px;
        top: 0px;
    }

    .header__circle_purple {
        left: 23vw;
        opacity: 0.25;
        width: 541px;
        height: 541px;
        top: 193px;

        left: 23vw;
        opacity: 0.25;
        width: 302px;
        height: 273px;
        top: 270px;
    }

    /* 2 provide */
    .provide-list {
        margin-top: 7px;
    }

    .provide-item:nth-last-child(-n+2) {
        width: 49%;
        margin-top: 0px;
    }

    .provide-item {
        width: 49%;
        margin-bottom: 2vw;
    }

    .provide-item:last-child {
        width: 100%;
    }

    .provide-item__svg {
        margin-bottom: 10px;
    }

    .about-wrapper__circle {
        filter: blur(28px);
        width: 383px;
        height: 383px;
        opacity: .1;
    }

    /* 3 about */
    .about-img {
        width: 100%;
        height: 100%;
    }

    .about-img__digit {
        width: 48.5%;
        height: 110px;
        display: none;
    }

    .about-img__digit:nth-child(1) {
        left: 0;
        top: auto;
        bottom: -38vw;
    }

    .about-img__digit:nth-child(2) {
        left: auto;
        right: 0;
        bottom: -38vw;
    }

    .about-img__digit:nth-child(3) {
        top: auto;
        left: auto;
        right: auto;
        bottom: -68vw;
    }

    .about-img__digit:nth-child(4) {
        bottom: -68vw;
        left: auto;
        right: 0;
    }

    .btn_about {
        margin-top: 44px;
    }

    /* 4 slider */
    .path {
        padding: 80px 0 80px;
    }

    .path-item {
        width: 400px;
        padding: 26px 24px 0 24px;
    }

    .path-item:not(:last-of-type) {
        margin-right: 18px;
    }

    .slick-list {
        padding-left: 25px !important;
        padding-right: 25px !important;
        padding-bottom: 25px !important;
    }

    .path-item__name {
        font-size: 20px;
    }

    .path-item__desc {
        font-size: 17px;
        height: 195px;
    }

    /* 5 rewievs */
    .rewiev-slider {
        margin-top: 50px;
    }

    .reviews .slick-list {
        padding-left: 37px !important;
        padding-right: 37px !important;
    }

    .reviews .slick-next {
        top: 45.5%;
    }

    .rewiev-item {
        flex-direction: column;
        width: 320px !important;
        height: 500px;
    }
    

    .rewiev-item__img {
        height: 246px;
        width: 320px;
    }

    .rewiev-item__rev {
        width: 272px;
    }

    .rewiev-item__wrapper {
        margin-top: 20px;
    }

    /* 6 form */
    .accordion {
        margin-bottom: 128px;
    }

    .form-wrapper {
        padding-top: 148px;
    }

    .run-bot-inner {
        top: -110px;
    }

    .form-img {
        width: 100%;
        height: 278px;
    }

    .offer__icon-img_form:first-child {
        top: 181px;
        left: 32px;
    }

    .offer__icon-img_form:nth-child(2) {
        top: 135px;
        right: 40px;
        left: auto;
    }

    .offer__circle-wrapper_form {
        display: none;
    }

    .contact-form {
        width: 100%;
        height: auto;
    }

    .footer-wrapper {
        flex-direction: column;
    }

    .footer-wrapper__logo-item {
        width: 194px;
        height: auto;
        margin-bottom: 15px;
    }

}

@media (max-width: 320px) {

    .head-logo {
        width: 162px;
        margin: 0 auto;
    }

    .head-btn {
        font-size: 12px;
        width: 114px;
    }

    .offer {
        margin-top: 60px;
        margin-bottom: 72px;
    }

    .offer__img-absolute {
        top: -55px;
    }

    .offer__icon-img {
        width: 56px;
        height: 56px;
        border-radius: 15px;
        top: 133px;
        left: 5px;
    }

    .offer__icon-img:nth-child(2) {
        bottom: 1px;
    }

    .offer__circle-wrapper {
        top: 18px;
    }

    /* 4 slider */
    .path-item__icon {
        width: 96px;
        height: 96px;
        margin-bottom: 14px;
    }

    .path-item__desc {
        font-size: 15px;
    }

    .path-item__price-wrapper {
        margin-top: 58px;
        margin-bottom: 15px;
    }

    .path-item__icon-price {
        margin-right: 13px;
    }

    /* 5slider */
    .rewiev-item {
        width: 270px !important;
    }

    .rewiev-item__img {
        width: 270px;
    }

    .rewiev-item__rev {
        width: 224px;
    }

    /* 6 form */
    .contact-form {
        padding: 30px 15px;
    }

    .contact-form__description {
        margin-bottom: 36px;
    }

    .contact-form__title {
        text-align: center;
    }
}